

@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode-SemiBold.woff2") format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode-SemiBoldItalic.woff2") format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCodeItalic.woff2") format('woff2');
  font-style: italic;
}



body {
    font-family: CascadiaCode
}
                
p {
    text-align: left;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

                
h1 {
    text-align: center;
    font-size: 1.5em;
}
                
div {
    width: 50em;
    padding: auto;
    margin: auto;

}

            
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    height: 3.1em;
}

li {
    display: inline;
    height: 100%;
    margin: auto;
}

li + li {
    margin : 1em;
}

div.navbardiv {
    margin: auto;
}

            
.bannerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}

                
